
.coupon_item{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: 22px;
    padding: 20px 10px;
    border-radius: 16px;
}

.coupon_info{
    width:33%;
    text-align: center;
}

.coupon_value{
    font-size: large;
    font-weight: bold;
}