.header{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.address_info{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    font-size: 28px;
}