.header{
    margin-top: 20px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    line-height: 50px;
  }
  
  .table_info{
    display:flex;
    flex-direction: row;
  }
  
  .table_icon{
    width: 50px;
    height: 50px;
    margin-right:10px;
  }

  .text_orange{
    color:#ffab02;
  }
  
  .scan_info{
    display: flex;
    flex-direction: row;
  }
  
  .scan_text{
    margin-right: 15px;
  }
  